/* {
   outline: red 2px solid;
}
*/

body{
    font-family: sans-serif;
    margin: 0px;
}

/* hero */
.hero{
    padding: 0px 200px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

/* hero header */
.header{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}

a{  
    text-decoration: none;

}

.header-link-text,
.hero-subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.title{
    color: #F9FAF8;
}

/* hero content*/

.intro{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    flex: 1;
}

.i-img-container{
    flex-grow: 1;
}
.intro-img{
    width: 500px;
    height: 205px;
    object-fit: cover;
}

/* intro left*/

.intro-left{
    margin-right: 100px;
    height: 205px;
}

.hero-maintext {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
}
.hero-subtext{
    margin: 0px;
    margin-bottom: 10px;
}

button{
    color: #F9FAF8;
    font-weight: 700;
    background-color: #3882F6;
    border: none;
    text-align: center;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 0px;
}

/* information */

.information{
    padding: 0px 200px;
    padding-bottom: 150px;
}

.info-header-text{
    margin: 50px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.card-grid{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
}

.card-img{
    object-fit: cover;
    width: 160px;
    height: 160px;
    border-radius: 15px;
    outline: 3px solid #3882F6;
    flex-shrink: 0;
}

.card p{
    text-align: justify;
    text-align-last: center;
    color: #293443;
}

/* quote */

.quote{
    padding: 100px 300px;
    background-color: #E5E7EB;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.author {
    text-align: right;
    color: #1F2937;
    font-size: 24px;
    font-weight: 700;
}

/* call to action */

.call{
    padding: 100px 200px;
}

.bluebox{
    padding: 45px 150px;
    background-color: #3882F6;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calltext h2{
    color: #F9FAF8;
    margin: 0px;
    margin-bottom: 5    px;
}

.calltext p{
    color: #F9FAF8;
    font-weight: lighter;
    margin: 0px;
}

.callbutton{
    outline: 2px white solid;
    border-radius: 5px;
}